<app-nav-bar class="NAV"></app-nav-bar>


<div class="container espacioAB">
  <h1 class="text-center">CITAS</h1>
  <div *ngIf="boolTipo">
    <div *ngIf="citas.length; else skeleton"></div>
    <div *ngFor="let cita of citas" class="dentro">
      <div class="card card-body">
        <h2 class="text-center">Cita Programada</h2>
        <div class="datos">

          <p><strong>Estudio a realizar: </strong> {{cita.nombreestudio}}</p>
          <p><strong>Id Estudio:</strong> {{cita.idEstudio}}</p>
          <p><strong>Precio del estudio:</strong> {{cita.price | currency}}</p>
          <p><strong>Fecha y hora:</strong> {{cita.fecha | date:'short'}}</p>
        </div>
        <button type="button" class="resultadosbtn" (click)="guardarResults(cita.resultado)">Resultados</button>

      </div>
      <div class="card botones">
        <button type="button" data-toggle="modal" data-target="#exampleModal"
          (click)="agregar_URL(cita.nombreestudio,cita.idEstudio,cita.price,cita.fecha)">Generar QR de acceso</button>
        <button type="button" (click)="abriracceso(cita.nombreestudio,cita.idEstudio,cita.price,cita.fecha)">Imprimir
          acceso</button>
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="!boolTipo">
    <div *ngIf="citas.length; else skeleton"></div>
    <div *ngFor="let cita of citas let i=index" class="dentro">
      <div class="card card-body">
        <h2 class="text-center">Cita Programada</h2>
        <div class="datos">

          <p><strong>Paciente: </strong> {{cita.emailUser}}</p>
          <p><strong>Estudio a realizar: </strong> {{cita.nombreestudio}}</p>
          <p><strong>Id Estudio:</strong> {{cita.idEstudio}}</p>
          <p><strong>Precio del estudio:</strong> {{cita.price | currency}}</p>
          <p><strong>Fecha y hora:</strong> {{cita.fecha | date:'short'}}</p>
        </div>
      </div>
      <div class="card botones">
        <button type="button" (click)="editarResultados(cita, i)" data-toggle="modal" data-target="#resultadosModal">Editar Resultados</button>
      </div>
      <hr>
    </div>
  </div>
</div>




<!--Modales para botones-->
<!--Qr-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Codigo Qr</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--codigo del Qr-->
        <div class="contenedor">
          <qr-code [value]="value" [level]="level" [size]=300 class="codigoQR"></qr-code>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Resultados Modal-->
<div class="modal fade" id="resultadosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultados:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit(this.idCitaEditar)">
          <textarea formControlName="resultado" class="txtarea" cols="30" rows="10">
          </textarea>
          <div class="inputForm botonera botones">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




<ng-template #skeleton>
  <div class="skeleton espacioAB">
    <div class="skeFlex">

      <div>
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{
                width: '205%',
                height: '200px' }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" animation="progress-dark" [theme]="{
            width: '230px',
            height: '30px' }">
        </ngx-skeleton-loader>
      </div>

    </div>
  </div>
</ng-template>
