<div class="frase">
    <h2 class="frase-text">
        “Te atendemos con el corazón”
    </h2>
  </div>
  
  <footer class="footer">
  
    
      <div class="row m-0">
          <div class="col-12 col-sm-4">
              <div class="footer-right">
                  <img src="../../assets/logos/hl-vw.svg" alt="" class="footer-logo">
                  <hr class="footer-line">
              </div>
  
          </div>
          <div class="col-12 col-sm-1"></div>
          <div class="col-12 col-sm-3">
              <ul class="footer-list">
                  <li class="footer-list_item"><a href="" class="footer-list__link">Inicio</a></li>
                  <li class="footer-list_item"><a href="" class="footer-list__link">Servicios</a></li>
                  <li class="footer-list_item"><a href="" class="footer-list__link">Preguntas Frecuentes</a></li>
                  <li class="footer-list_item"><a href="" class="footer-list__link">Conocenos</a></li>
                  <li class="footer-list_item"><a href="" class="footer-list__link">Iniciar Sesion</a></li>
                  <li class="footer-list_item"><a href="" class="footer-list__link">Desarrolladores</a></li>
              </ul>
          </div>
          <div class="col-12 col-sm-4">
              <div class="footer-left">
                  <div class="footer-social">
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/youtube.svg" alt="" class="footer-social_img"></a>
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/facebook.svg" alt="" class="footer-social_img"></a>
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/whatsapp.svg" alt="" class="footer-social_img"></a>
                  </div>
                  <div class="footer-left_rights">
                      <p class="footer-subtitle">Heart Lab’s</p>
                      <p class="footer-rights">Derechos reservados 2022 © copyright</p>
                  </div>
  
              </div>
          </div>
      </div>
  </footer>