<div class="frase" [ngClass]="{'noShow':!controlShow}">
    <h2 class="frase-text" [style.font-size.px]="secondSize | async">
        “Te atendemos con el corazón”
    </h2>
  </div>
  
  <footer class="footer">
  
    
      <div class="row m-0">
          <div class="col-12 col-sm-4">
              <div class="footer-right">
                    <img src="../../assets/logos/hl-vw.svg" alt="" class="footer-logo" routerLink="/home">
                  <hr class="footer-line">
              </div>
  
          </div>
          <div class="col-12 col-sm-1"></div>
          <div class="col-12 col-sm-3">
              <ul class="footer-list">
                  <li class="footer-list_item"><a routerLink="/home" class="footer-list__link" [style.font-size.px]="firstSize | async">Inicio</a></li>
                  <li class="footer-list_item"><a routerLink="/estudios" class="footer-list__link" [style.font-size.px]="firstSize | async">Servicios</a></li>
                  <li class="footer-list_item"><a routerLink="/preguntas" class="footer-list__link" [style.font-size.px]="firstSize | async">Ayuda</a></li>
                  <li class="footer-list_item"><a routerLink="/conocenos" class="footer-list__link" [style.font-size.px]="firstSize | async">Contactanos</a></li>
                  <li class="footer-list_item"><a routerLink="/desarrolladores" class="footer-list__link" [style.font-size.px]="firstSize | async">Desarrolladores</a></li>
              </ul>
          </div>
          <div class="col-12 col-sm-4">
              <div class="footer-left">
                  <div class="footer-social">
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/youtube.svg" alt="" class="footer-social_img"></a>
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/facebook.svg" alt="" class="footer-social_img"></a>
                      <a href="" class="footer-social_link"><img src="../../assets/redesSociales/whatsapp.svg" alt="" class="footer-social_img"></a>
                  </div>
                  <div class="footer-left_rights">
                      <p class="footer-subtitle" [style.font-size.px]="thirdSize | async">Heart Lab’s</p>
                      <p class="footer-rights" [style.font-size.px]="fourthSize | async">Derechos reservados 2022 © copyright</p>
                  </div>
  
              </div>
          </div>
      </div>
  </footer>