.container{
    margin: 50px 0  0 10rem;
}

.card-principal{
    width: 50%;
    height: max-content;
    margin: 2rem auto 8rem auto;
}


form{
    width: 80%;
    margin: 2rem auto 0;
}

.inputForm {
    width: 100%;
    margin-bottom: 1.1rem;
  
    position: relative;
}

.inputFormControl {
    width: 100%;
    padding: 0.1rem 0.6rem;
  
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.2s ease;
    font-size: 0.95rem;
  
    position: relative;
}

.inputFormControl:focus ~ .form__bar{
    transform: scale(1);
}

.form__bar{
    position: absolute;
    border-bottom: 2px solid var(--c1);
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    transition: .2s transform;
    transform-origin: center bottom;
}

.plaza{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.inputFormControlPlaza{
    width: 50%;
    padding: 0.1rem 0.6rem;
    margin: 0 0 0 1rem;
  
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.2s ease;
    font-size: 0.95rem;
}

.botonSubmitt {
    display: block;
    color: white;
    margin: 0rem auto 1rem;
    background-color: var(--c1);
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 35px;
    border: none;
    transition: all 0.12s ease;
  }
  
  .botonSubmitt:hover {
    transform: scale(1.05);
    background-color: var(--c2);
  }