<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div class="">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="">
        <label class="form-label">Constraseña</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="">
        <label class="form-label">Telefono</label>
        <input type="text" class="form-control" formControlName="phone" maxlength="12" placeholder="524491234567">
    </div>
    <div class="">
        <label class="form-label">Cedula Profesional</label>
        <input type="text" class="form-control" formControlName="cedule">
    </div>
    <div class="">
        <label class="form-label">Plaza</label>
        <select name="" id="" formControlName="plaza"> 
            <option *ngFor="let plaza of plazasDisponibles" value="{{plaza.idEstudio}}">{{plaza.idEstudio}}</option>
        </select>
    </div>
    <input type="submit" value="Enviar">
</form>