<div class="contenedor">
    <div class="barra_lateral">
      <div class="arriba">
        <a class="barra_item" [routerLink]="['/registrar']">
            <img src="../../assets/logos/doctor_icon.svg" class="icon__img">
          <p>Doctores</p>
        </a>
    
        <a class="barra_item" [routerLink]="['/listaRegistros']">
          <img src="../../assets/login/user.svg" class="icon__img">
          <p>Usuarios</p>
        </a>
      </div>
      <a class="barra_item cerrarSesion">
        <i class="fa-solid fa-right-from-bracket"></i>
        <p>Cerrar sesion</p>
      </a>
    </div>
</div>