.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 100%;
    height: calc(100vh - 90px);
    margin: 0;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 30px;
    
    position: absolute;
    top: 85;
    right: 0;
    background-color: white;

}

.barra_lateral{
    width: 80px;
    border-right: 1px solid #e6e6e6;
    height: calc(100vh - 60px);

    grid-column: 1/2;
    grid-row: 1/-1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.barra_item{
    width: 80px;
    height: 85px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease;
}

.barra_item:nth-child(1){
    padding: .8rem 0 0 0;
}

a{
    text-decoration: none;
    transition: all .2s ease;
}

.arriba{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.barra_item:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}

.barra_item p{
    text-align: center;
    width: 75px;
    font-size: .8rem;
    color: #676767;
    margin-top: 5px;
}

.icon__img, .picture{
    width: 20px;
    height: 20px;
    padding: 0;
}

.cerrarSesion{
    padding: .5rem 0 0;
    width: 80px;
    height: 120px;
    place-self: flex-end;
    transform: scale(.85);
}

.cerrarSesion .picture{
    display: block;
    margin-bottom: .2rem;
    background-image: url(../../assets/login/logout_wh.svg);
}
.cerrarSesion:hover .picture{
    background-image: url(../../assets/login/logout_rd.svg);
}




.contenido{
    height: calc(100vh - 90px);
    grid-column: 2/-1;
    grid-row: 1/2;
}

.footer{
    margin: 0;
    width: 100%;
    height: 30px;
    grid-column: 2/-1;
    grid-row: 2/-1;
    text-align: right;
    font-size: .9rem;
    font-weight: 300;
    transform: translate(-20px);
}

.navbar-brand{
    color: white;
    padding: 0 0 0 30px;
    font-size: 30px;
}

.logo:hover{
    transform: scale(1.1);
    color: white;
}
