<app-barra-lateral-root></app-barra-lateral-root>


<!-- //aqui se va a mostrar la lista de doctores registrados -->

<div class="container">
    
  <div class="card card-principal">
    <div class="card-body">
      <h2 class="text-center">Usuarios Registrados</h2>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      <div class="card card-body d-flex flex-row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur cumque laudantium minus. Ipsum perferendis
        dolore culpa deserunt similique neque debitis et obcaecati in voluptates iusto tempore eos, quaerat nulla
        molestiae quod mollitia rem id, atque sapiente doloremque incidunt vitae doloribus.
        <div class="card-body">
            <button>Hola</button>
        </div>
      </div>
      


    </div>
  </div>

</div>
