<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">

  <div class="card">
    <figure class="figure">
      <img src="../../assets/logos/hl-vw.svg" alt="logo heart's lab">
    </figure>
    <img class="imgLab" src="../../assets/login/lab_flask.svg" alt="lab_flask">

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">


      <h4 class="tituloform mb-4 mt-4">Registro de Usuarios</h4>
      <div class="inputForm">
        <input type="text" class="inputFormControl AfterEncima" formControlName="name" placeholder="Nombre">
        <span class="form__bar"></span>
      </div>
      <div class="inputForm">
        <input type="text" class="inputFormControl AfterEncima" formControlName="lastName" placeholder="Apellido">
        <span class="form__bar"></span>
      </div>
      <div class="inputForm">
        <input type="email" class="inputFormControl AfterEncima" formControlName="email" placeholder="Correo">
        <span class="form__bar"></span>
      </div>
      <div class="inputForm">
        <input type="password" class="inputFormControl AfterEncima" formControlName="password" placeholder="Contraseña">
        <span class="form__bar"></span>
      </div>
      <div class="inputForm">
        <input type="text" class="inputFormControl AfterEncima" formControlName="phone" maxlength="12"
          placeholder="Telefono">
        <span class="form__bar"></span>
      </div>
      <div class="inputForm">
        <input type="date" class="inputFormControl" formControlName="birthday" placeholder="fecha de nacimiento">
      </div>
      <input type="submit" value="Registrar" class="botonSubmitt">

      <p class="noCuenta">¿Ya tienes una cuenta? <a routerLink="/login">Inicia Sesion</a></p>

    </form>
  </div>
</div>
