<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">
    <div class="card login">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input type="submit" value="Enviar">
        </form>
        <a routerLink="/registerUser">No tienes una cuenta? Crea una</a>
    </div>
</div>