<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">
  <div class="card mb-4 mt-5" style="max-width: 89%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/devs/fatima.jpeg" alt="foto fatima">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Fatima Jacqueline Caldera Macias</h3>
          <p class="card-text">ID: 202020</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4" style="max-width: 89%; margin: 2rem auto;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Brayan Ulises Vázquez Heredia</h3>
          <p class="card-text">ID: 269248</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/devs/ulises.jpeg" alt="foto ulises" style="transform: translateY(-100px);">
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 89%; margin: 2rem auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/devs/fer.png" alt="foto fer">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Fernanda Gutierrez Salazar</h3>
          <p class="card-text">ID: 202020</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 89%; margin: 2rem auto;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Luis Angel Romo Padilla</h3>
          <p class="card-text">ID: 202020</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/devs/angel.jpeg" alt="foto angel">
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 89%; margin: 2rem auto;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/devs/obed.jpeg" alt="foto obed">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Brian Obed Perez Hernandez</h3>
          <p class="card-text">ID: 202020</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 89%; margin: 2rem auto;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Arturo Villalobos Rodriguez</h3>
          <p class="card-text">ID: 202020</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../assets/devs/arturo.png" alt="foto arturo">
      </div>
    </div>
  </div>

  

</div>
