<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">

    <!-- Aqui dentro poner el codigo -->

    <h2>Este le toca a Obed</h2>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, sint, quibusdam eum magni dolorum cumque quae commodi nostrum omnis, voluptatum sequi voluptates cum enim esse consequatur asperiores totam laudantium dignissimos odit error odio? Consequuntur unde repellendus beatae inventore architecto ea, earum eveniet doloribus cum, illum rerum iste, dolore sed quae ducimus iusto repellat molestias optio accusamus ut. Quos ullam odit rerum tempora obcaecati eveniet atque. Iure cumque nihil nemo inventore. Blanditiis reiciendis velit, fugiat nihil consequuntur sapiente vel, ducimus minima accusamus animi inventore culpa ipsa quo eius maxime dolorem nemo!</h2>

</div>
