<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">
    <h1 class="titulo">Nosotros...</h1>
    <h4 class="sub">Somos un laboratorio Mexicano</h4>
    <p>Durante más de 70 años de sólida trayectoria, 
        hemos generado confianza y credibilidad en nuestros pacientes, 
        tomando fuerza y posicionamiento al ser un laboratorio de amplia cobertura y brindar 
        servicios de análisis clínicos y de gabinete.
    </p>
    <h4 class="sub">Confiabilidad</h4>
    <p>Nos reconocen por la calidad en el proceso de toma de muestras y en la entrega de resultados, somos respaldados por nuestro centro analítico y de referencia internacional CARPERMOR, el más grande del país.</p>

      <h4 class="sub">Cercanía</h4>
      <p>Tenemos muy claros nuestros valores, y contamos con todos los canales de contacto necesarios como: sitio web, app, WhatsApp, centro de atención telefónica y nuestras sucursales, lo que nos permite ofrecer a nuestros pacientes un servicio excepcional con la mayor calidad.</p>

    <h4 class="sub">Experiencia</h4>
    <p>Somos el gabinete privado más completo del país, con una plantilla multidisciplinaria de más de 500 médicos especialistas y técnicos totalmente capacitados, quienes realizan estudios para nuestros pacientes con equipos de alta tecnología</p>

    <div>
        <form class="form fond">
            <div class="form_container">
                <h2 class="form_title">Contáctanos</h2>
                <div class="form_group">
                    
                    <input type="email" id="name" class="form_input">
                    <label for="name" class="form_label" placeholder="alguno@heartlabs.com">Correo Electrónico</label>
                    <span class="form_line"></span><br><br>
                </div>
                <div class="form_group">
                    <textarea type="text" id="name" class="form_input"></textarea>
                    <label for="name" class="form_label">Mensaje</label>
                    <span class="form_line"></span>
                </div>
    
                <input type="submit" class="form_submit" value="Enviar">
                
            </div>
        </form>
    </div>
    
    
</div>
