.navbar{
    padding: .5rem 3.2rem;
    background-color: #008cfff8;
}

.log-in{
    background-color: darkblue;

}

.log-out{
    background-color: red;
}

.sesion{
    padding: .3rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

.ulmenu{
    display: flex;
    align-items: center;
    padding: 0;
}