.navbar{
    padding: .5rem 3.2rem;
    background-color: var(--c7);
    color: black;
    box-shadow: var(--bxs1);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background .2s ease-out;
}

#navbarSupportedContent>ul>li>a{
    color: black;
    transition: all .15s ease;
}

#navbarSupportedContent>ul>li>a:hover{
    color: var(--c1);
    transform: scale(1.03);
}

#navbarSupportedContent>ul>li>a>input:hover{
    background-color: var(--c2);
}


.ulmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler{
    height: 40px;
    width: 40px;
    border: 1px solid var(--c1);
    padding: 0;
    transition: all .12s ease;
}

.navbar-toggler:hover{
    box-shadow: 0px 0px 5px rgba(0 0 0 /10%);
}

.user_icon{
    width: 20px;
    height: 20px;
}

.nombre{
    outline: 1px solid var(--c2);
    border: none;
    border-radius: 5px;
    transform: scale(.85);
    font-size: 1rem;
    text-transform: capitalize;
    transition: all .15s ease;
    cursor: pointer;
}

.nombre:hover{
    transform: scale(.89);
    box-shadow: 0px 2px 3px rgba( 0 0 0 /8%);
}