<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between">

    <a class="navbar-brand" href="#">
        <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Heart Lab's
    </a>
    <button  type="button" (click)='myFunc()'>Cambiar</button>


    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/estudios">Estudios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preguntas">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conocenos">Conocenos</a>
        </li>
        <li class="nav-item" *ngIf="!bandera">
          <a class="nav-link" routerLink="/citas">Citas</a>
        </li>
        <li class="nav-item" *ngIf="!bandera">
          <a class="nav-link" routerLink="/login">Mi Perfil</a>
        </li> 
        <li class="nav-item" *ngIf="bandera">
          <a class="nav-link" routerLink="/login" [ngClass]="{'log-in': bandera}">Iniciar Sesion</a>
        </li>
        <li class="nav-item" *ngIf="!bandera">
          <a class="nav-link" routerLink="/login" [ngClass]="{'log-out': !bandera}">Cerrar Sesion</a>
        </li>

      </ul>
    </div>
  </nav>