<app-nav-bar class="NAV"></app-nav-bar>

<div class="container espacioAB">
  <div class="card login">

    <aside class="logForm">
      <div [hidden]="user" class="phone">
        <img class="imgLab" src="../../assets/login/lab_flask.svg" alt="lab_flask">
        <div class="divPhone" [ngClass]="{'mover': !windowRef.confirmationResult}">
          <h4 class="tituloform mb-3 mt-4">Ingresar via Telefono</h4>
          <div class="inputForm mt-4">
            <input type="text" class="inputFormControl" [(ngModel)]="phone" minlength="12" maxlength="12"
              placeholder="celular">
            <img src="../../assets/login/phone_outline.svg" alt="phone" class="inputForm__img">
          </div>
          <a routerLink="/login" class="IngresaCell mt-3">Ingresa con tu correo</a>
          <button (click)="verificaNumero()" class="botonSubmitt mb-2">Verificar Numero</button>

          <!-- <div class="lod" *ngIf="loader">
            <div></div><div></div><div></div><div></div>
          </div> -->
          <div id="recaptcha-container"></div>
          <button *ngIf="auxiliar" (click)="sendLoginCode()">Enviar Codigo</button>
        </div>

        <div *ngIf="windowRef.confirmationResult">
          <hr>
          <div class="inputForm">
            <input type="text" name="code" [(ngModel)]="verificationCode" class="inputFormControl"
              placeholder="Ingresa tu codigo">
            <img src="../../assets/login/verification.svg" alt="user" class="inputForm__img">
          </div>
          <button (click)="verifyLoginCode()" class="botonSubmitt">Verificar</button>
        </div>
      </div>
    </aside>

    <aside class="imgForm">
      <img src="../../assets/logos/hl-vw.svg" alt="">
    </aside>

  </div>
</div>
