<app-barra-lateral-root></app-barra-lateral-root>

<div class="container">
    
  <div class="card card-principal">
    <div class="card-body">
      <h2 class="text-center">Graficas</h2>
      <!-- <div class="card card-body d-flex flex-row">
       <h3>Este le toca a fatima</h3>
       <p>Agregar una grafica en comparativa entre cuantos estudios si tienen doctor (plaza en 1), y cuantos no (plaza 0)</p>
      
      </div> -->

      <div class="container mt-5 pt-5">
        <div class="col-12">
            <div class="row">
    
                <div class="col-3 pl-5 mt-5">
                    <h1>Bar Chart Estudios.</h1>
                    <br>
                    <br>
                    <h3>Comparativa.</h3>
                    <button class="btn btn-outline-primary" (click)="getData()">Actualizar</button>
                </div>
    
                <div class="col-7">
                    <div class="chart-wrapper">
                        <canvas baseChart
                            [datasets] = "barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [type]="barChartType"
                            [plugins]="barChartPluggins">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>

</div>
