<app-barra-lateral-root></app-barra-lateral-root>


<!-- //aqui se va a mostrar la lista de doctores registrados -->

<div class="container">
    
  <div class="card card-principal">
    <div class="card-body">
      <h2 class="text-center">Graficas</h2>
      <div class="card card-body d-flex flex-row">
       <h3>Este le toca a fatima</h3>
       <p>Agregar una grafica en comparativa entre cuantos estudios si tienen doctor (plaza en 1), y cuantos no (plaza 0)</p>
      
      </div>
    </div>
  </div>

</div>
