@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --c1: #22577A;
    --c2: #38a3a5;
    --c3: #57cc99;
    --c4: #80ed99;
    --c5: #f2f2f2;
    --c6: #e50000;
    --c7: #fffffffa;
    --bxs1: 0px 2px 10px rgba(0 0 0 /3%);
    transition: all .23s ease;
    --fz: 16px;
}

html{
    font-size: var(--fz);
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}



body{
    position: relative;
    overflow-x: hidden;
}

.NAV{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.espacioAB{
    margin-top: 75px;
}

.log-in{
    background-color: var(--c1);
}

.log-out{
    background-color: var(--c6);  
}

.sesion{
    padding: .3rem 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}