<app-nav-bar class="NAV" [ngClass]="{'transparente': transparenteBool}"></app-nav-bar>


<div class="container card card-body espacioAB">
  <div class="card espacioAB">
    <div class="card-body espacioAB">
      <!-- Aqui dentro poner el codigo -->
      <p>Home</p>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-down">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-down">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-down">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      <div data-aos="fade-up">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque iste provident nobis alias
          obcaecati aut tempora modi. Deleniti earum adipisci sunt, voluptatum dolor molestias quibusdam repellat atque
          rerum consequatur necessitatibus ex. Nobis saepe praesentium earum architecto impedit! Asperiores voluptate
          veritatis in, veniam similique dignissimos blanditiis rem perspiciatis modi, iste velit. </p>
      </div>
      
      
    </div>
  </div>
</div>
